<div class="col-md-3 bookmark">
  <div class="row">
  <%= link_to bookmark.url, topic_bookmark_path(bookmark.topic, bookmark) %>

  </div>
  <div class="row">
    <% if bookmark.user == current_user %>
      <%= link_to "Remove", [bookmark.topic, bookmark], class: 'btn btn-danger', method: :delete %>
    <% else %>
      <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
    <% end %>
  </div>
</div>
